{{#if emp}}
  <h2>{{title}}: {{emp.display_name}}</h2>
  <a href="/employees/{{emp._id}}/update">
    <button class="btn btn-primary">Update Employee Info</button>
  </a>
  <a href="/employees/change-availability/{{emp._id}}">
    <button class="btn btn-primary">Update Employee Availability</button>
  </a>
  <table class="table">
    <tbody>
      <tr>

        <th>Name</th>
        <td>{{emp.first_name}} {{#if emp.middle_name}} {{emp.middle_name}} {{/if}} {{emp.last_name}}</td>
      </tr>
      <tr>
        <th>Employee Number</th>
        <td>{{emp.login_number}}</td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>{{emp.gender}}</td>
      </tr>
      <tr>
        <th>Birth Date</th>
        <td>{{emp.birth_date}}</td>
      </tr>
      <tr>
        <th>Date Hired</th>
        <td>{{emp.hire_date}}</td>
      </tr>
      {{#if emp.roles}}
      <tr>
        <th>Roles</th>
        <td>
          <table class="table table-sm ">
            <tr>
              <th>Position</th>
              <th>Pay Rate</th>
            </tr>
            {{#each emp.roles}}
              <tr>
                <td>{{name}}</td>
                <td>{{rate_of_pay}}</td>
              </tr>
            {{/each}}
              <tr>
                <td colspan="2">
                  <a href="/employees/{{emp._id}}/editroles">
                    <button class="btn btn-sm btn-block btn-primary">
                      Assign {{emp.first_name}} a new role
                    </button>
                  </a>
                </td>
              </tr>
          </table>
        </td>
      </tr>
      {{else}}
      <tr>
        <th>No Roles:</th>
        <td>
          <a href="/employees/{{emp._id}}/editroles">
            <button class="btn btn-sm btn-block btn-primary">
              Assign {{emp.first_name}} a new role
            </button>
          </a>
        </td>
      </tr>
      {{/if}}
      <tr>
        <th>Current Employee</th>
        <td>{{#if emp.employeed}} Employeed {{else}} no longer with us {{/if}}</td>
      </tr>
      <tr>
        <th>Email Address</th>
        <td>{{emp.email}}</td>
      </tr>
      <tr>
        <th>Availability</th>
        <td>
          {{#each availability}}
              <p>{{@key}}: {{this.start_time}} - {{this.end_time}}</p>

          {{/each}}
        </td>
      </tr>
    <tbody>
  <table>
{{else}}
  <h3>No such employee. How did you even get here?</h3>
{{/if}}
